@import '../../assets/styles/variables';

.list-container {
	margin-top: 32px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.loading {
	margin: 32px;
	text-align: center;
	font-weight: 800;
	text-decoration: underline $color-vidid;
	text-decoration-thickness: 5px;
	font-size: larger;
}
