// SCREEN SIZES
$sm: 300px;
$lg: 860px;

// COLORS
$color-primary: #251b37;
$color-vidid: #ffcaca;
$color-secondary: #f4f3ef;
$color-white: #ffffff;

// FONT SIZES
$font-size-sm: 8px;
$font-size-md: 16px;
$font-size-lg: 24px;
